# uwsgi.service
[Unit]
Description=uWSGI
After=syslog.target
After=nfs-client.target
After=home-app_user.mount

[Service]
# emperor
ExecStart=/home/app_user/venv/python3.9/django-docker-sample/bin/uwsgi --emperor /etc/uwsgi/vassals --uid app_user --gid app_user

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all
EnvironmentFile=/etc/sysconfig/django_app_module

[Install]
WantedBy=multi-user.target
